/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

    #loginAP{
	-fx-background-color:#f0f0f0;
}
#aLogoPicture{
	-fx-background-image:url(/ivan/polovyi/SelfCheckoutMaven/view/pictures/Logo.png);
	 -fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size:auto 80.0%;
	
	}
	
	#aPprocesPicture{
	-fx-background-image:url(/ivan/polovyi/SelfCheckoutMaven/view/pictures/processPicture2.png);
	-fx-background-position: center;
	-fx-background-repeat: no-repeat;
	-fx-background-size: cover, auto;
	}
	
	#lblWarning{
	-fx-font: 25.0px Arial;
    -fx-opacity:0.75;
    -fx-stroke: black;
    -fx-stroke-width: 1.0;
    -fx-alignment:center;
    -fx-text-fill: #3CB371;
	}
	
	
	#loginWW{
		
	}

	#lblSelfCheckOut{
		
	-fx-font: 70.0px Arial;
    -fx-opacity:0.75;
    -fx-stroke: black;
    -fx-stroke-width: 1.0;
    -fx-alignment:center;
    -fx-text-fill: black;
	}
	
	
	#lblHowItWorks,#btnBarCodePane{
	 
    -fx-font-size:20.0px;
	-fx-background-color: #DCDCDC;
	-fx-alignment:center;
	}

	#apHowItWorks{
	-fx-background-color:black;	
	}

	

	#rctHowItWorks{
	-fx-color:#ffffff;	
	}

	#lblHowItWorks1,#lblHowItWorks11,#lblHowItWorks2, #lblHowItWorks22, #lblHowItWorks3,  #lblHowItWorks4{
 -fx-font-family:'Open Sans','Trebuchet MS','Arial','sans-serif';
 -fx-font-size:20.0px;
 -fx-color:#333;
 -fx-font-weight:normal;
 -fx-font-style:italic;
	}


	

	#txtFieldUserName{
		-fx-alignment:center;
	}
	#passField{
	-fx-alignment:center;	
	}
	#passFieldAcKey{
	-fx-alignment:center;	
	}
	#btnLogin{
		
	}
	
	#vBoxHelp{
	}
	
	/* BarCode generator Pane */
	
	#btnBarCodePane:pressed{
    -fx-background-radius: 0.0,0.0,0.0,0.0;
	-fx-background-color: #3CB371;
}

	#aPaneBarCodeGenerator{
	-fx-background-color:black;	
	}
	#hBoxBarCodeGenerator{
	-fx-background-color:#ffffff;	
	}
	
	