/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#mainWindowLable {
  
  -fx-background-color: #F08080;
    -fx-font: 30.0px Tahoma;
    -fx-opacity:0.75;
    -fx-stroke: black;
    -fx-stroke-width: 1.0;
    -fx-alignment:center;
    
}
#lblLoadMess{
	-fx-background-color: #90EE90;
    -fx-font: 15.0px Tahoma;
    -fx-opacity:0.75;
    -fx-stroke: black;
    -fx-stroke-width: 1.0;
    -fx-alignment:center;
}

#fxLoadProgress{
	-fx-border-color: #64dd17;
}


 #rctlMainTop, #rctMainMidle, #rectButom, #rctShoppingcartRight {
	-fx-fill:#f0f0f0;
	-fx-stroke:#f0f0f0;
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}

#lblShoppingCart{
	-fx-font-family:'Open Sans','Trebuchet MS','Arial','sans-serif';
 -fx-font-size:30.0px;
 -fx-background-color:#f0f0f0;
  -fx-font-weight:normal;
 -fx-font-style:italic;
  -fx-alignment:center;

}


#btnCompleteOrder, #btnDeletAll,#btnLogOut,#btnBarCodePane{
	   -fx-background-color: 
        linear-gradient(#f2f2f2, #d6d6d6),
        linear-gradient(#fcfcfc 0.0%, #d9d9d9 20.0%, #d6d6d6 100.0%),
        linear-gradient(#dddddd 0.0%, #f6f6f6 50.0%);
    -fx-background-radius: 8.0,7.0,6.0;
    -fx-background-insets: 0.0,1.0,2.0;
    -fx-text-fill: black;
      -fx-font-size:15.0px;
    -fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );

	-fx-font-size:15.0px;
	-fx-background-color: #DCDCDC;
}
	
	#lblHelp{
	-fx-font-size:20.0px;
	-fx-background-color: #DCDCDC;
	}
	
#lblProdCod{
	-fx-font-family:'Open Sans','Trebuchet MS','Arial','sans-serif';
 -fx-font-size:19.0px;
 -fx-background-color:#E6E6FA;
  -fx-font-weight:normal;
 -fx-font-style:italic;
}
#mainWindowTextField{
	-fx-font-family:'Open Sans','Trebuchet MS','Arial','sans-serif';
 -fx-font-size:20.0px;
 
  -fx-font-weight:bold;
 -fx-font-style:italic;
	
}

#btnCompleteOrder:pressed,  #btnDeletAll:pressed,#btnLogOut:pressed, #btnBarCodePane:pressed{
	-fx-font-size: 15.0px;
	-fx-background-radius: 0.0,0.0,0.0,0.0;
	-fx-background-color: #3CB371;
}
#btnCompleteOrder:hover,  #btnDeletAll:hover,#btnLogOut:hover, #btnBarCodePane:hover{
 -fx-underline: true;
}


#gPHelp{
	-fx-background-color:white;
}
#aPFAQ{
-fx-background-color:black;	
}

    #lbl1, #lbl2, #lbl3, #lbl4, #lbl5, #lbl6, #lbl7, #lbl8 {
 -fx-font-family:'Open Sans','Trebuchet MS','Arial','sans-serif';
 -fx-font-size:15.0px;
 -fx-color:#333;
 -fx-font-weight:bold;
 -fx-font-style:italic;
 
}

#lbl11, #lbl22, #lbl33, #lbl44, #lbl55, #lbl66, #lbl77, #lbl88 {
 -fx-font-family:'Open Sans','Trebuchet MS','Arial','sans-serif';
 -fx-font-size:15.0px;
 -fx-color:#333;
 -fx-font-weight:normal;
 -fx-font-style:italic;
}

#gPPurtusePanel{
-fx-fill:#f0f0f0;
	-fx-stroke:#f0f0f0;
		
-fx-font-family:'Open Sans','Trebuchet MS','Arial','sans-serif';
 -fx-font-size:30.0px;
   -fx-font-weight:normal;
 -fx-font-style:italic;

}
#imgViewProd,#lblProdName, #Label,#lblProductLot, #labAvalibale, #lblPrice{
	-fx-font-family:'Open Sans','Trebuchet MS','Arial','sans-serif';
 -fx-font-size:25.0px;
 -fx-color:#333;
 -fx-font-weight:normal;
 -fx-font-style:italic;
 -fx-alignment: center;
}

#aPpurchusePanel{
	-fx-background-color:#A9A9A9;
	-fx-effect: dropshadow( three-pass-box , rgba(0.0,0.0,0.0,0.6) , 5.0, 0.0 , 0.0 , 1.0 );
}


#aPaneBarCodeGenerator{
	-fx-background-color:#A9A9A9;
}


